<% provide(:title, 'Sign up') %>
<h1>The Revolution Will Be Live...</h1>
<h2>Join Hooplays Today</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Sign Up", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<div class="comic">
  <p>All kinds of people love live music, but they often don't know where to find it.
    You can upload your shows to a dozen sites but if people don't know who you are they won't go looking for your shows. <br><br>
    Hooplays helps people who are looking for live music on a particular night find your show.
    Your up-to-date shows, weblink, genre and reviews lead them to new live music they'l love!
  </p>

</div>